<section class="header-section">
  <div class="container">
    <div class="header-block">
      <span class="header-block__title">
        FOIS TESTING
      </span> <!-- .header-block__head -->
    </div> <!-- .header-block -->
  </div> <!-- .container -->
</section> <!-- .header-section -->
