/*
DOC:
- Tạo bộ khung cơ bản cho 1 icon
*/
@mixin make-icon-ready() {
  display: inline-block;
  font-style: normal;
  line-height: 1;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*
	Exam use:

	@include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
	}
*/

@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}

@mixin boxshadow() {
  -webkit-box-shadow: 0 3px 6px rgba(#505F77, 16%), 0 3px 6px rgba(#505F77, 23%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 3px 6px rgba(#505F77, 16%), 0 3px 6px rgba(#505F77, 23%);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 3px 6px rgba(#505F77, 16%), 0 3px 6px rgba(#505F77, 23%);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin block-center-transform {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(-50%); /* IE 9 */
          transform: translate(-50%); /* IE 10, Fx 16+, Op 12.1+ */
}
