@use 'sass:map';
@use 'var' as var;
@use '../../var/grid' as grid;
@use 'function/space' as space;
@use '../../mixin/general' as general-minxin;
//===============================================
// .header-section
//===============================================
.header-section {
  background: #355c7d;
  margin-bottom: space.get-space-from-base(12);

  @media screen and (min-width: grid.$mz-grid-lg-min) {
    margin-bottom: space.get-space-from-base(16);
  }
}

//===============================================
// .header-block
//===============================================
.header-block {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;

  &__title {
    color: #ffffff;
    font-weight: 600;
    font-size: 4rem;

    @media screen and (min-width: grid.$mz-grid-lg-min) {
      font-size: 8rem;
    }
  }
} // .header-block
